---
import Experience from "../components/Experience.astro";
import Hero from "../components/Hero.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import Section from "../components/Section.astro";
import TitleSection from "../components/TitleSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Alba Rincón | Software engineer">
	<Section>
		<Hero />
	</Section>

	<Section id="experience">
		<TitleSection>
			<Briefcase class="size-7" />
			Experience
		</TitleSection>
		<Experience />
	</Section>
</Layout>
