---
const personalImageAlt = "Miguel Ángel";
---

<article
  class="flex flex-col items-center justify-center gap-16 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="order-2 text-pretty md:order-1 [&>p>strong]:font-mono [&>p>strong]:font-normal [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p]:mb-4"
  >
    <p>
      My name is Alba Rincón, a Barcelona-based software engineer with a
      specialty in back-end development and solid frontend experience. I thrive
      in agile, fast-paced, cross-functional teams where I can learn from
      different perspectives and contribute to projects end-to-end.
    </p>
    <p>
      When I'm not programming at work, you can find me exploring and creating
      small projects that solve practical problems while helping me learn new
      technologies. Outside of coding, I enjoy capturing moments through my old
      analog camera, lifting weights at the gym, or watching sports, among other
      things.
    </p>
  </div>
  <div
    class="order-1 rotate-6 border bg-white p-3 shadow-2xl transition-transform duration-200 hover:rotate-0 hover:scale-110"
  >
    <img class="border" alt={personalImageAlt} src="/sunglasses.jpg" />
    <div class="h-5 bg-white p-4"></div>
  </div>
</article>
