---
interface Props {
    href: string;
    target?: string;
    rel?: string;
    isExternal?: boolean;
    class?: string;
}

const {href, target, class: classList, isExternal, rel = ""} = Astro.props;
---
<a class:list={["underline hover:text-blue-500", classList]}
   href={href} target={target}
   rel={`${rel}${isExternal ? " nofollow noopener noreferrer external" : ""}`}
>
    <slot/>
</a>
