<a
	class="flex items-center justify-center gap-x-2 rounded-full border border-base-300 dark:border-white/10 bg-neutral/30 px-2 py-1 text-xs transition hover:scale-110 hover:bg-neutral/60 md:px-4 md:py-2 md:text-base"
	target="_blank"
	rel="noopener noreferrer"
	{...Astro.props}
>
	<slot />
</a>