---
import "@fontsource-variable/onest";
import { ClientRouter } from "astro:transitions";
import Menu from "../components/Menu.astro";

interface Props {
	title: string;
	class?: string;
}

const { title, class: className } = Astro.props as Props;
---

<!doctype html>
<html lang="en" data-theme="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<script
			defer
			src="https://umami-rouge-five.vercel.app/script.js"
			data-website-id="946f8c08-92bd-42da-9353-21335891901d"
			data-domains="alba.rincon.me"></script>
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body>
		<Menu />
		<main class={`flex flex-col items-center justify-center ${className}`}>
			<slot />
		</main>
	</body>
</html>

<style>
	html {
		font-family: "Onest Variable", system-ui, sans-serif;
		scroll-behavior: smooth;
	}

	html[data-theme="light"] body {
		background-color: hsla(173, 46%, 84%, 1);
		background-image: radial-gradient(
				at 4% 3%,
				hsla(176, 72%, 97%, 1) 0px,
				transparent 50%
			),
			radial-gradient(at 92% 39%, hsla(179, 72%, 75%, 1) 0px, transparent 50%);
	}

	html[data-theme="dark"] body {
		background-color: hsla(261, 38%, 24%, 1);
		background-image: radial-gradient(
				at 4% 3%,
				hsla(261, 48%, 17%, 1) 0px,
				transparent 50%
			),
			radial-gradient(at 92% 59%, hsla(261, 48%, 15%, 1) 0px, transparent 50%);
	}
</style>
